<div class='card pannel blue lighten-4'>
  <h6>Sign up</h6>
  <%= form_for(@player, url: new_player_path) do |f| %>
        <div class="row">
          <div class="input-field col s6">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, class:'col s8' %>
            <i class="material-icons prefix col s4">account_circle</i>
          </div>
          <div class="input-field col s6">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "off", class:'col s8' %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <i class="material-icons prefix col s4">fingerprint</i>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s3">
            <%= f.label :first_name %>
            <%= f.text_field :first_name, autocomplete: "on"%>
          </div>
          <div class="input-field col s3">
            <%= f.label :last_name %>
            <%= f.text_field :last_name, autocomplete: "on"%>
          </div>
          <div class="input-field col s6">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "off", class:'col s8' %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <i class="material-icons prefix col s4">fingerprint</i>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s3">
            <%= f.label :nick_name %>
            <%= f.text_field :nick_name%>
          </div> 
          <div class="input-field col s3">
            <%= f.label :steam_id %>
            <%= f.text_field :steam_id%>
          </div>
          <div class="input-field col s3">
            <%= f.label :main_role %>
            <%= f.text_field :main_role%>
          </div>
          <div class="input-field col s3">
            <%= f.label :minor_role %>
            <%= f.text_field :minor_role%>
          </div>                 
        </div>
        <div class="row">
          
        </div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row">
          <div class="input-field col s6 offset-s5">
            <button class="btn waves-effect waves-light" type="submit" name="Signs up">Submit
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
  <% end %>
</div>